* {
	box-sizing: border-box;
	font-family: Arial, Helvetica; sans-serif; 
}
body {
	max-height: 100%;
	max-width: 100%;
	background-color: #1e93cc;
}
nav {
	display: flex;
	background-color: #333333;
	text-decoration: none;
}
ul {
	display: flex;
	flex-direction: row ;
	justify-content: flex-start;
	margin-top: 0;
}
li {
	padding: 1em;
	list-style-type: none;
	color: white;
}
.login {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
}
.loogin {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
}
a {
	text-decoration: none;
	color: white;
}
p {
	color: white;
}
h1 {
	color: white;
}
h2 {
	color: white;
	font-size: 200%;
}
h3 {
	color: white;
}
.tête button{
	margin-top: 30px;
	/*margin-left: 775px;*/
	display: inline-block;
}
.Start {
	height: 3em;
	width: 13em;
	background-color: #e99002;
	border: 2px solid white;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 8px;
	font-size: 1.5em;
	cursor: pointer;
}
.tête img {
	margin-left: 10%;
	display: inline-block;
	float: left;
}
.tête {
	float: left;
	width: 100%;
}
.clear {
	clear: both;
}
.proje {
	height: 5vh;
	color: black;
	background-color: white;
}
.awes {
	padding-top: 1vh;
	color: black;
	text-align: center;
	font-size: 180%;
}
.article {
	font-size: 130%;
	width: 65%;
	display: flex;
}
.paragraphes {
	display: flex;
	align-content: center;
	font-size: 150%;
	margin: 30px;
	padding: 15px;
}
.para {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	margin: 10px;
	padding: 10px;
}
.parb {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	margin: 10px;
	padding: 10px;
}
.title {
	display: flex;
	flex-direction: column;
	padding: 20px;
	padding-top: 35px;
	padding-bottom: 15px;
	font-size: 150%;
}
.inno {
	text-align: center;
	background-color: white;
	font-size: 150%;
	height: 5vh;
}
.innotep {
	padding: 1.2vh;
	color: black;
}
.spon {
	background-color: #eeeeee;
}
.sponso {
margin-left: 25%;
}
.but {
	background-color: white;
	text-align: center;
	height: 30vh;
}
.but > button {
	margin: 10vh 0vh 10vh 0vh;
}
.one {
	background-color: #165882;
	border: 2px solid white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 8px;
	font-size: 1.5em;
	cursor: pointer;
	color: white
}
.two {
	background-color: #165882;
	border: 2px solid white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 8px;
	font-size: 1.5em;
	cursor: pointer;
	color: white
}
.three {
	background-color: #e99002;
	border: 2px solid white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 8px;
	font-size: 1.5em;
	cursor: pointer;
	color: white
}
.foot > li {
	border-right: 2px dashed;
}